<div class="card">
  <div class="header">
    <h1 class="title">Flight Edit</h1>
  </div>


  <div class="alert alert-warning" *ngIf="showWarning" style="margin:20px;">

    <p>
      You haven't saved your modifications. Do you really want to leave me?
    </p>
    <button class="btn btn-primary" (click)="decide(true)">Yes</button>
    <button class="btn btn-primary" (click)="decide(false)">No</button>
  </div>

  <div class="content">
    <p>ShowDetails: {{showDetails}}</p>
    <form [formGroup]="editForm">
      <div class="form-group">
        <input formControlName="id" class="form-control">
      </div>
      <div class="form-group">
        <input formControlName="from" class="form-control">
      </div>
      <div class="form-group">
        <input formControlName="to" class="form-control">
      </div>
      <div class="form-group">
        <input formControlName="date" class="form-control">
      </div>
    </form>
  </div>
</div>

